.example-container {
    min-height: 100%;
    height: auto!important;
    max-width: 100%;
    margin: 0;
    transform: none;
  }
  
  .example-sidenav-content {
    display: flex;
    height: 100%;
    align-items: center;
    justify-content: center;
  }
  
  .example-sidenav {
    padding: 20px;
  }

  .active{
    background-color: #feefc3
  }

  mat-sidenav.mat-sidenav.sidenav {
    position: fixed;
    top: 74px;
    bottom: 0;
    left: 0;
    padding: 0;
    min-width: 260px;
    box-shadow: 6px 0 6px rgba(0,0,0,0.10);
  }

  .stylenav{
    font-family: Roboto,"Helvetica Neue Light","Helvetica Neue",Helvetica,Arial,"Lucida Grande",sans-serif;
    font-size: 14px;
    font-weight: 400;
    transition: background-color .2s;
    text-transform: uppercase;
  }

  .vertical-menu-item {
    box-sizing: border-box;
    color: #333;
    cursor: pointer;
    display: block;
    max-width: 260px;
    overflow-wrap: break-word;
    padding-top: 4px;
    padding-bottom: 4px;
    text-decoration: none;
    text-align: left;
    word-wrap: break-word;

    background: #fff;
    box-shadow: 0 2px 2px rgba(10,16,20,.24), 0 0 2px rgba(10,16,20,.12);
    border: 1px solid #fff;
    color: #546e7a;
    font-size: 15px;
    height: 50px;
    line-height: 50px;
  }

  .gb_Mc{
    padding-left: 20px;
    display: inline-block;
    line-height: 40px;
    vertical-align: top;
    width: 176px;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
  }