<!--  TODO -->
<!-- Separate Inline Styles -->

<mat-toolbar style="border-bottom: 1px solid #dadce0;top: 0;left:0">
  <mat-toolbar-row style="padding: 8px;background-color:#ffffff;vertical-align: middle;white-space: nowrap;">
    <button class="hamburger mat-button" style="min-width: 64px;border: none;padding: 0px 16px;cursor: pointer;outline: 0;"
      mat-button="" (click)="drawer.toggle()" title="Docs menu"><span class="mat-button-wrapper">
        <mat-icon class="mat-icon" role="img" svgicon="menu" aria-hidden="true">
          <svg _ngcontent-c1="" focusable="false" viewBox="0 0 24 24">
            <path _ngcontent-c1="" d="M3 18h18v-2H3v2zm0-5h18v-2H3v2zm0-7v2h18V6H3z" style="width: 100;width: 10%;"></path>
          </svg>
        </mat-icon>
      </span>
      <div class="mat-button-ripple mat-ripple" matripple=""></div>
      <div class="mat-button-focus-overlay"></div>
    </button>
    <span>{{heading_Title}}</span>
  </mat-toolbar-row>
</mat-toolbar>
<mat-sidenav-container class="example-container">
  <mat-sidenav #drawer class="sidenav mat-drawer mat-sidenav ng-tns-c6-1 ng-trigger ng-trigger-transform ng-star-inserted collapsed mat-drawer-over"
    mode="side" opened role="navigation">
    <div>
      <ul style="list-style: none;margin-top: 0;margin-bottom: 0;padding: 8px 0;">
        <li *ngFor="let item of menu_List" class="li1" style="border-radius: 0 25px 25px 0;color: #202124;letter-spacing: .01785714em;font-family: 'Google Sans',Roboto,Arial,sans-serif;font-size: .875rem;font-weight: 500;line-height: 1.25rem;
          display: block;min-height: 40px;padding-bottom: 4px;padding-top: 4px;">
          <a (click)="changeRoute(item.name)"  style="background-color: #feefc3" title="Notes" class="vertical-menu-item stylenav"><svg xmlns="http://www.w3.org/2000/svg"
              style="margin-left: 34px;" width="24" height="24" viewBox="0 0 24 24" class="gb_Nc">
              <path d="M9 21c0 .55.45 1 1 1h4c.55 0 1-.45 1-1v-1H9v1zm3-19C8.14 2 5 5.14 5 9c0 2.38 1.19 4.47 3 5.74V17c0 .55.45 1 1 1h6c.55 0 1-.45 1-1v-2.26c1.81-1.27 3-3.36 3-5.74 0-3.86-3.14-7-7-7zm2.85 11.1l-.85.6V16h-4v-2.3l-.85-.6A4.997 4.997 0 0 1 7 9c0-2.76 2.24-5 5-5s5 2.24 5 5c0 1.63-.8 3.16-2.15 4.1z"></path>
            </svg>
            <span class="gb_Mc">{{item.name}}</span>
          </a>
      </ul>
    </div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>